.label {
  box-sizing: border-box;
  list-style: none;
  padding: 2px 6px;
}

.text {
  display: block;
  padding: 0px 4px 0px 8px;
  color: var(--context-menu-item-text-color);
  font-family: inherit;
  font-size: calc(var(--context-menu-item-font-size) - 1px);
  opacity: 0.5;
  user-select: none;
}
