@mixin dark-mode-vars {
  --context-menu-bg: #141414;
  --context-menu-item-text-color: white;
  --context-menu-item-focus-bg: #444444;
  --context-menu-item-active-bg: #2a2a2a;
  --context-menu-item-disabled-opacity: 0.5;
  --context-menu-separator-color: #505050;
}

.menu {
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0;
  background: var(--context-menu-bg);
  border-radius: var(--context-menu-border-radius, 5px);
  box-shadow: 0 6px 38px -10px #16171870, 0 6px 20px -15px #16171845;
  min-width: var(--context-menu-min-width, 200px);
  font-family: var(--context-menu-font-family);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 10;
  transition: opacity 120ms ease-out;
  outline: none;
  --context-menu-bg: white;
  --context-menu-font-family: -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
  --context-menu-item-font-size: 13px;
  --context-menu-item-text-color: black;
  --context-menu-item-focus-bg: #e8e8e8;
  --context-menu-item-active-bg: #f3f3f3;
  --context-menu-item-disabled-opacity: 0.5;
  --context-menu-button-height: 30px;
  --context-menu-button-radius: 3px;
  --context-menu-separator-color: #e8e8e8;

  &:global(.themeDark) {
    @include dark-mode-vars;
  }

  @media (prefers-color-scheme: dark) {
    &:not(:global(.themeLight)) {
      @include dark-mode-vars;
    }
  }
}

.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
