.menuItem {
  box-sizing: border-box;
  list-style: none;
}

.button {
  display: flex;
  align-items: center;
  width: calc(100% - 8px);
  padding: 6px 10px;
  margin: 4px;
  border: none;
  border-radius: 2px;
  background: none;
  text-align: left;
  cursor: pointer;
}

.button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
